.navbar-head {
  background-color: #2030408e;
  backdrop-filter: blur(3px);
  font-weight: 500;
  position: fixed;
  top: 0;

  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.sticky-header {
  background-color: #2030408e;
  backdrop-filter: blur(3px);
  font-weight: 500;
  position: sticky;
  bottom: 3;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  z-index: 1;
  margin-top: 0px;
}

.div-sticky {
  margin-top: 129px; /* Modifica il valore del padding come desideri */
}

.div-no-sticky {
  margin-top: 50px;
}

.home-sticky {
  text-align: center;
  margin-top: 80px;
}

.home-no-sticky {
  text-align: center;
}

.header-background {
  background-image: linear-gradient(rgba(11, 70, 148, 0.349), rgba(33, 51, 75, 0.144)),
    url("./assets/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg");
  height: 100vh;
  background-size: cover;
}

.box-scrolls {
  background-color: #203040;

  z-index: 2;
}

.static-text {
  font-size: 15px; /* Stile del testo */
  color: white; /* Colore del testo */
  display: inline-block; /* Per evitare il ritorno a capo */
  /* Aggiunge spazio tra "Offerte del momento:" e il testo scorrevole */
}

.scrolling-text-container {
  width: 80%;

  overflow: hidden;
  background-color: #203040;
  z-index: 2;
}

.scrolling-text {
  font-size: 18px; /* Stile del testo */
  color: white; /* Colore del testo */
  white-space: nowrap; /* Impedisce il ritorno a capo */
  margin-left: 60px; /* Aggiunge un margine sinistro per evitare sovrapposizioni */
  opacity: 0.8; /* Opacità del testo scorrevole per renderlo meno visibile */
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn-explore {
  border: none;
  background: #203040;
  font-size: 1rem;
  font-weight: 500;
}

/* INTRO */

.card-tours {
  background-image: linear-gradient(rgba(11, 70, 148, 0.514), rgba(33, 51, 75, 0.541));
}

.btn-tours {
  border: none;
  background: #203040;
  font-size: 1rem;
  font-weight: 500;
}

/* DELUXE */

.deluxe {
  background-image: linear-gradient(rgba(11, 70, 148, 0.589), rgba(33, 51, 75, 0.507)), url("./assets/Maldive.jpg");

  background-size: cover;

  height: 80vh;
}

/*NEWSLETTER*/

.newsletter {
  background: #203040;
}

.hr-style {
  background-color: white;
  height: 1px;
  border: none;
}

/* OFFERS EXPLORE NOW */

.offer-card {
  background-color: #fff;
  border: none;
  border-radius: 10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*FOOTER*/

.footer-travel {
  background: #203040;
}

/*LOGIN*/

.login {
  background-image: url("./assets/Login.png");
}

.login-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 40px;
}

.custom-button:disabled {
  background-color: #20304079;
}

@media (max-width: 767px) {
  h1 {
    font-size: 4.5rem;
    padding-top: 40px;
  }
  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .intro p {
    font-size: 1.1rem;
  }

  .header-background {
    background-size: cover;
    background-position: center;
  }

  .carousel {
    width: 100% !important;
  }

  .static-text {
    display: none;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
    padding-top: 40px;
  }
  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1.4rem;
  }

  .carousel {
    width: 100% !important;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 7.5rem;
    padding-top: 60px;
  }

  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .intro p {
    font-size: 1.7rem;
  }

  .carousel {
    width: 90% !important;
  }
}
