.navbar-head {
  background-color: #2030408e;
  backdrop-filter: blur(3px);
  font-weight: 500;
  position: fixed;
  top: 0;
  margin-top: 0.3px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  z-index: 1000;
}

.navbar .dropdown-menu[data-bs-popper] {
  top: 112%;
  left: -70px;
  margin-top: var(--bs-dropdown-spacer);
}
.navbar .dropdown-menu.show {
  background-color: #203040;
  --bs-dropdown-link-hover-bg: #acb6c225;
  --bs-dropdown-divider-bg: white;
}

.sticky-header {
  background-color: #2030408e;

  font-weight: 500;
  position: sticky;

  width: 100%;

  z-index: 1000;
  margin-top: 0.4px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #203040;
}

.navbar-nav .nav-item .nav-link .dropdown-menu {
  left: auto;
  right: 0;
}

/*SEARCHBAR*/

.searchbar {
  background-color: rgba(255, 255, 255, 0.699);
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(2px);
}

.button-search {
  background-color: #203040;
  border: 2px solid #203040;
}

.button-search:hover {
  color: #203040;
  background-color: #f1f1f1;
  border: 2px solid #203040;
  --bs-btn-color: unset !important;
  --bs-btn-bg: unset !important;
  --bs-btn-border-color: unset !important;
  --bs-btn-hover-color: unset !important;
  --bs-btn-hover-bg: unset !important;
  --bs-btn-hover-border-color: unset !important;
  --bs-btn-focus-shadow-rgb: unset !important;
  --bs-btn-active-color: unset !important;
  --bs-btn-active-bg: unset !important;
  --bs-btn-active-border-color: unset !important;
  --bs-btn-active-shadow: unset !important;
  --bs-btn-disabled-color: unset !important;
  --bs-btn-disabled-bg: unset !important;
  --bs-btn-disabled-border-color: unset !important;
}

/*SEARCH RESULTS*/
.search-results {
  margin-top: 129px;
}

.div-sticky {
  margin-top: 129px;
}

.div-no-sticky {
  margin-top: 50px;
}

.home-sticky {
  text-align: center;
  margin-top: 89px;
}

.home-no-sticky {
  text-align: center;
}

.header-background {
  background-image: linear-gradient(rgba(11, 70, 148, 0.349), rgba(33, 51, 75, 0.144)), url("./assets/TravelLogin.png");
  height: 100vh;
  background-size: cover;
}

.box-scrolls {
  background-color: #203040;

  z-index: 2;
}

.static-text {
  font-size: 15px;
  color: white;
  display: inline-block;
}

.scrolling-text-container {
  width: 100%;

  overflow: hidden;
  background-color: #203040;
  z-index: 2;
}

.scrolling-text {
  font-size: 18px;
  color: white;
  white-space: nowrap;

  opacity: 0.8;
  position: relative;
}

/*LOADING */
.card-loading {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.btn-explore {
  border: 1px solid rgba(34, 34, 34, 0.85);
  border-radius: 3px;
  background: white;
  color: rgba(34, 34, 34, 0.85);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
  --bs-btn-color: unset;
  --bs-btn-bg: unset;
  --bs-btn-border-color: unset;
  --bs-btn-hover-color: unset;
  --bs-btn-hover-bg: unset;
  --bs-btn-hover-border-color: unset;
  --bs-btn-focus-shadow-rgb: unset;
  --bs-btn-active-color: unset !important;
  --bs-btn-active-bg: unset;
  --bs-btn-active-border-color: unset;
  --bs-btn-active-shadow: unset;
  --bs-btn-disabled-color: unset;
  --bs-btn-disabled-bg: unset;
  --bs-btn-disabled-border-color: unset;
}

.btn-explore:hover {
  color: white;
  background: #203040;
  --bs-btn-color: unset;
  --bs-btn-bg: unset;
  --bs-btn-border-color: unset;
  --bs-btn-hover-color: unset;
  --bs-btn-hover-bg: unset;
  --bs-btn-hover-border-color: unset;
  --bs-btn-focus-shadow-rgb: unset;
  --bs-btn-active-color: unset !important;
  --bs-btn-active-bg: unset;
  --bs-btn-active-border-color: unset;
  --bs-btn-active-shadow: unset;
  --bs-btn-disabled-color: unset;
  --bs-btn-disabled-bg: unset;
  --bs-btn-disabled-border-color: unset;
}

/* INTRO */

.card-tours {
  background-image: linear-gradient(rgba(11, 70, 148, 0.514), rgba(33, 51, 75, 0.541));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-scale {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
  transform: scale(1.1);
}

.btn-tours {
  border: none;
  background: #203040;
  font-size: 1rem;
  font-weight: 500;
}

.hide-input {
  display: none;
}

/* DELUXE */

.deluxe {
  background-image: linear-gradient(rgba(11, 70, 148, 0.589), rgba(33, 51, 75, 0.507)), url("./assets/Maldive.jpg");

  background-size: cover;

  height: 80vh;
}

/*NEWSLETTER*/

.newsletter {
  background: #203040;
}

.hr-style {
  background-color: white;
  height: 1px;
  border: none;
}

.upwards-animation {
  transition: transform 0.3s ease;
}

.invisible {
  transform: translateY(40%);
  transition: transform 0.3s ease;
}

.button-news {
  background-color: #203040;
  border: 2px solid #f1f1f1;
}

.button-news:hover {
  color: #203040;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  --bs-btn-color: unset !important;
  --bs-btn-bg: unset !important;
  --bs-btn-border-color: unset !important;
  --bs-btn-hover-color: unset !important;
  --bs-btn-hover-bg: unset !important;
  --bs-btn-hover-border-color: unset !important;
  --bs-btn-focus-shadow-rgb: unset !important;
  --bs-btn-active-color: unset !important;
  --bs-btn-active-bg: unset !important;
  --bs-btn-active-border-color: unset !important;
  --bs-btn-active-shadow: unset !important;
  --bs-btn-disabled-color: unset !important;
  --bs-btn-disabled-bg: unset !important;
  --bs-btn-disabled-border-color: unset !important;
}

/* OFFERS EXPLORE NOW */

.offer-card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-hover-scale {
  transition: transform 0.3s ease-in-out;
}

.image-hover-scale:hover {
  transform: scale(1.1);
}

.margin-top-solo-soggiorno {
  margin-top: 0rem;
}

.margin-top-viaggi-con-soggiorno {
  margin-top: 35px;
}

.custom-modal {
  z-index: 2000;
}

.modal {
  padding-right: 0px !important;
}

.modal-open {
  overflow: visible !important;
  padding-right: 0px !important;
}

.button-discover:hover {
  text-decoration-line: underline;
}

.button-filter {
  font-family: Montserrat, sans-serif;
  border: 3px solid #203040;
  color: white;
  background-color: #203040;
  border: 2px solid #203040;
}

.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  /* Stile attivo */

  border-color: white;
}

.btn {
  --bs-btn-color: white;
}

/*OFFER DETAIL*/
.info-hotel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.swiper {
  width: 100%;
  --swiper-theme-color: white;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;

  opacity: 0.6;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide-active {
  width: 400px;
  height: 400px;
  opacity: 1;
}

.rating-icon {
  color: rgb(197, 235, 27);
  font-size: 1.7rem;
}

/*OFFER STAY*/
.card-stay {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
}

/*FOOTER*/

.footer-travel {
  background: #203040;
}

.button-footer {
  color: #cbcbcb;
}

.button-footer:hover {
  text-decoration-color: white;
  text-decoration-line: underline;
  color: white;
}

.social {
  color: #cbcbcb;
}

.social:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
  color: white;
}

/*RESERVATION FORM*/
.reservation-form-container {
  border: 1px solid #203040;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
}

.custom-datepicker {
  width: 90px;
  font-size: 14px;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #f8f9fa !important;
}

/*CART CONTAINER*/

.cart-container {
  border: 2px solid #203040;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
}

/*PAYMENT*/

.custom-modal-header {
  background-color: #203040;
  color: #fff;
  font-family: Impact, sans-serif;
  font-size: 1rem;
  border-bottom: none;

  padding: 20px;
}

.custom-modal-title {
  font-size: 24px;
}

.custom-modal-footer {
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.button-payment {
  background-color: #203040;
  text-decoration: none;
  color: white;
  padding-inline: 5px;
  padding-block: 0px;
  border-radius: 6px;
}

.button-payment:hover {
  background-color: #f1f1f1;
  color: #203040;
}

.swal2-title {
  color: black;
  font-family: Montserrat, sans-serif;
}

.swal2-popup {
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
}

.custom-button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
}

.custom-button.btn-secondary {
  background-color: #f8f9fa;
  color: #000;
}

.custom-button.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.custom-form-label {
  font-weight: bold;
}

.custom-form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
}

.custom-form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

/*LOGIN*/

.login {
  background-image: url("./assets/Login.png");
}

.login-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 40px;
}

.custom-button:disabled {
  background-color: #20304079;
}

@media (max-width: 767px) {
  h1 {
    margin-top: 50px;
    font-size: 5.5rem;
    padding-top: 40px;
  }
  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    margin-bottom: 70px;
  }

  h3 {
    font-size: 1.8rem;
  }

  .intro p {
    font-size: 1.1rem;
  }

  .title-tours {
    font-size: 5rem;
  }

  .header-background {
    background-size: cover;
    background-position: center;
  }

  .navbar-collapse {
    height: 100vh;
  }

  .title-deluxe {
    font-size: 3rem;
  }

  .carousel {
    width: 100% !important;
  }
  .intro h3 {
    font-size: 2.5rem;
  }

  .card-tour {
    margin-bottom: 30px !important;
  }
  .about-us-title {
    margin-bottom: 10px;
  }

  .favorite-title {
    margin-bottom: 10px;
  }
  .home-sticky {
    text-align: center;
    margin-top: 139px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
    padding-top: 40px;
  }
  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .navbar-collapse {
    height: 100vh;
  }

  .intro p {
    font-size: 1.4rem;
  }

  .title-tours {
    font-size: 5rem;
  }

  .carousel {
    width: 100% !important;
  }

  .title-deluxe {
    font-size: 3rem;
  }

  .intro h3 {
    font-size: 2.8rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 7.5rem;
    padding-top: 60px;
  }

  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .intro p {
    font-size: 1.7rem;
  }

  .carousel {
    width: 90% !important;
  }

  .navbar-collapse {
    height: 0vh;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 11.5rem;
    padding-top: 80px;
  }

  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 5.5rem;
    padding-bottom: 50px;
  }
}
